<!-- 'Parent' Comments-->
<p><strong><%= comment.content %></strong></p>
<p>by <i><%= comment.user.email %></i> at <i><%= comment.created_at %></i></p>

<!-- Like button with likeable: comment -->
<%= render partial: 'likes/button', locals: { likeable: comment } %>
<br>

<!-- Form to reply a comment -->
<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment }%>
<% else %>
  <%= link_to "Log in", new_user_session_path %> <strong> or </strong>
  <%= link_to "Sign Up", new_user_registration_path %> to reply!
<% end %>
<hr>

<!-- Comment replies -->
<div class="child-comment">
  <%= render comment.comments.order(id: :desc) %>
</div>
