<h1><%= @post.title %></h1>

<p><%= @post.content %></p><br>

<!-- Render like/unlike button, likeable should be set -->
<%= render partial: 'likes/button', locals: { likeable: @post } %>

<br>
<strong>Add a comment</strong>
<br>
<br>

<% if user_signed_in? && @post.user_id === current_user[:id] %>
  <!-- 'Parent' Comments form -->
  <%= render partial: 'comments/form', locals: { post: @post, parent: nil } %> <!-- parent comments has no parent -->
  <br>
  <%= link_to 'Edit this post', edit_post_path(@post) %>
<% elsif user_signed_in? %>
  <!-- 'Parent' Comments form -->
  <%= render partial: 'comments/form', locals: { post: @post, parent: nil } %> <!-- parent comments has no parent -->
<% else %> 
  <%= link_to "Log in", new_user_session_path %> <strong> or </strong>
  <%= link_to "Sign Up", new_user_registration_path %> to comment!
<% end %>
<br>
<br>

<%= link_to "Back Home", root_path %>
<br>
<br>
<h2>All Comments</h2>

<% if @post.comments.empty? %>
  No comments for this post yet
<% else %>
  <!-- Render only 'Parent' comments (parent_id: nil) -->
  <%= render @post.comments.where(parent_id: nil).includes(:user, :comments).order(id: :desc) %>
<% end %>
<br>




