<h1><%= @post.title %></h1>

<p><%= @post.content %></p><br>

<strong>Comments</strong><br>

<%= render @post.comments.includes(:user).order(created_at: :desc) %>
<%= render partial: 'comments/form', locals: { post: @post } %>

<br>
<br>
<%= link_to "Back Home", root_path %>


