<h1><%= @post.title %></h1>

<p><%= @post.content %></p><br>

<strong>Comments</strong><br>

<!-- Render only 'Parent' comments (parent_id: nil) -->
<%= render @post.comments.where(parent_id: nil).includes(:user, :comments).order(created_at: :desc) %>

<!-- Comments form -->
<%= render partial: 'comments/form', locals: { post: @post } %>
<br>
<br>
<%= link_to "Back Home", root_path %>


